body{
    margin: 0;
    padding: 0;
}
*{
    user-select: none;
    font-family: "MiSans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
html {
    font-size: 20px;
}
#root {
    position: absolute;
    width: 100%;
    height: 100%;
}
.header {
    left: 0;
    right: 0;
    display: flex;
    padding: 0.642361rem 1.388889rem;
    z-index: 9;
    position: fixed;
    font-size: 0.659722rem;
    background: #fff;
    align-items: center;
    line-height: 0.885417rem;
    justify-content: space-between;
}
.head-left {
    display: flex;
    align-items: center;
    overflow: hidden;
}
.MuiSvgIcon-root {
    color: rgba(0,0,0,50%);
    font-size: 1.180556rem;
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
    /* transform: translateY(.25em); */
    overflow: hidden;
}
.privac {
    width:1rem;height:1rem;
    overflow: hidden;
    display: block;
    color: rgba(0,0,0,0.5);
    margin: 0 0.138889rem;
    padding: 0;
    font-size: 0.763889rem;
}
.privac svg {
    transform: translateY(.125rem);
}
.head-left span {
    color: rgba(0,0,0,.5);
    cursor: pointer;
    font-size: 0.659722rem;
}
.help {
    font-size: 0.659722rem;
    text-decoration: none;
    color: rgba(0,0,0,.54);
    flex: 0 0 auto;
    padding: 12px;
    overflow: visible;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
}
.head-right {
    display: flex;
    align-items: center;
}
.Mui-src-portals-mobile-components-Banner--src-portals-mobile-components-Banner-indextsx-root {
    width: 18.750000rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-top: 3.750000rem;
    flex-direction: column;
    padding-bottom: 2.395833rem;
    background-size: cover;
    background-image: url(https://cdn.web-global.fds.api.mi-img.com/mcfe--mi-account/static/static/media/background.d3d7d2dd.png);
}
.Mui-src-portals-mobile-components-Banner--src-portals-mobile-components-Banner-indextsx-logo {
    text-align: center;
}
.Mui-src-portals-mobile-components-Banner--src-portals-mobile-components-Banner-indextsx-slogan {
    color: rgba(0,0,0,0.6);
    padding: 0 1.388889rem;
    font-size: 0.694444rem;
    margin-top: 0.763889rem;
    text-align: center;
    font-weight: normal;
    line-height: 0.920139rem;
}
.Mui-src-portals-mobile-components-Container--src-portals-mobile-components-Container-indextsx-root {
    width: 18.750000rem;
    margin: 0 auto;
    padding: 0 1.388889rem;
    box-sizing: border-box;
}
form {
    display: block;
    margin-top: 0em;
}
.Mui-src-portals-mobile-components-LoginFormLegend--src-portals-mobile-components-LoginFormLegend-indextsx-legend {
    color: rgba(0,0,0,1);
    font-size: 1.041667rem;
    font-weight: 600;
    line-height: 1.388889rem;
    margin-bottom: 0.520833rem;
}
.Mui-src-portals-mobile-pages-Login-Password--src-portals-mobile-pages-Login-Password-indextsx-field {
    margin-top: 0.520833rem;
}
.MuiFormControl-fullWidth {
    width: 100%;
}
.MuiFormControl-root {
    border: 0;
    margin: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
}
.Mui-src-portals-mobile-components-TextField--src-portals-mobile-components-TextField-indextsx-root > .MuiInputBase-root {
    border: 0.104167rem solid rgba(255,255,255,1);
    height: 2.777778rem;
    padding: 0 0.694444rem;
    overflow: hidden;
    background: rgba(240,240,240,1);
    transition: border 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 0.920139rem;
}
.MuiInput-root {
    position: relative;
}
.Mui-src-portals-mobile-components-TextField--src-portals-mobile-components-TextField-indextsx-root .MuiInputBase-input {
    font-size: 0.798611rem;
    font-weight: 500;
    text-overflow: ellipsis;
    -moz-appearance: textfield;
}
.MuiInputBase-input {
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1.1876em;
    margin: 0;
    display: block;
    padding: 6px 0 6px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    animation-duration: 10ms;
    -webkit-tap-highlight-color: transparent;
}
.MuiInputBase-root {
    color: rgba(0, 0, 0, 0.87);
    cursor: text;
    display: inline-flex;
    position: relative;
    font-size: 1rem;
    box-sizing: border-box;
    align-items: center;
    font-family: 'MiSans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 400;
    line-height: 1.1876em;
}
.Mui-src-portals-mobile-components-AcceptTerms--src-portals-mobile-components-AcceptTerms-indextsx-root {
    color: rgba(0,0,0,0.6);
    font-size: 0.659722rem;
    margin-top: 1.041667rem;
    font-weight: normal;
    line-height: 0.885417rem;
    user-select: none;
}
.Mui-src-portals-mobile-components-Checkbox--src-portals-mobile-components-Checkbox-indextsx-controlLabel {
    line-height: 100%;
}

.Mui-src-portals-mobile-components-Checkbox--src-portals-mobile-components-Checkbox-indextsx-root {
    padding: 0;
    margin-right: 0.555556rem;
}

.MuiIconButton-label {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}
.MuiCheckbox-root {
    color: rgba(0, 0, 0, 0.54);
}
.jss5 {
    top: 0;
    left: 0;
    width: 100%;
    cursor: inherit;
    height: 100%;
    margin: 0;
    opacity: 0;
    padding: 0;
    z-index: 1;
    position: absolute;
}
.Mui-src-portals-mobile-components-Checkbox--src-portals-mobile-components-Checkbox-indextsx-icon {
    width: 1.111111rem;
    border: none;
    height: 1.111111rem;
    border-radius: 50%;
    background-color: rgb(240, 240, 240);
}
.MuiTouchRipple-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}
.Mui-src-portals-mobile-components-Checkbox--src-portals-mobile-components-Checkbox-indextsx-label {
    vertical-align: middle;
}

.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}
.Mui-src-portals-mobile-components-Checkbox--src-portals-mobile-components-Checkbox-indextsx-root {
    padding: 0;
    margin-right: 0.555556rem;
}
.MuiTypography-colorPrimary {
    color: #0B84FF;
}
.MuiLink-underlineHover {
    text-decoration: none;
}
.MuiButton-disableElevation.Mui-disabled {
    box-shadow: none;
}
.MuiButton-containedPrimary.Mui-disabled {
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(11, 132, 255, 0.3);
}
.MuiButtonBase-root.Mui-disabled {
    cursor: default;
    pointer-events: none;
}
.Mui-src-portals-mobile-components-Button--src-portals-mobile-components-Button-indextsx-root {
    height: 2.430556rem;
    margin-top: 1.041667rem;
    border-radius: 1.215278rem;
}
.MuiButton-fullWidth {
    width: 100%;
}
.Mui-src-portals-mobile-components-Button--src-portals-mobile-components-Button-indextsx-root .MuiButton-label {
    display: inline-block;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.MuiButton-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    font-size: 0.85rem;
}
.Mui-src-portals-mobile-pages-Login-Password--src-portals-mobile-pages-Login-Password-indextsx-actionList {
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    font-size: 0.659722rem;
    margin-top: 1.041667rem;
    align-items: center;
    line-height: 0.885417rem;
    justify-content: center;
}
.MuiLink-underlineHover {
    text-decoration: none;
}
.MuiTypography-colorTextSecondary {
    color: rgba(0, 0, 0, 0.54);
}
.MuiTypography-root {
    margin: 0;
}

/**  input focus **/
.MuiInputBase-root.Mui-focused {
    border-color: #0B84FF;
}
/**  input error **/
.MuiInputBase-root.Mui-error {
    border-color: #f44336;
}
.MuiInputBase-input:focus {
    outline: 0;
}

.Mui-src-portals-mobile-pages-Login-Password--src-portals-mobile-pages-Login-Password-indextsx-field {
    margin-top: 0.520833rem;
}

.Mui-src-portals-mobile-components-TextField--src-portals-mobile-components-TextField-indextsx-root .MuiFormHelperText-root {
    font-size: 0.659722rem;
    margin-top: 0.173611rem;
    line-height: 0.885417rem;
    margin-left: 0.798611rem;
}
.MuiFormHelperText-root.Mui-error {
    color: #f44336;
}
.MuiFormHelperText-root {
    color: rgba(0, 0, 0, 0.54);
    margin: 0;
    font-size: 0.75rem;
    margin-top: 3px;
    text-align: left;
    font-family: 'MiSans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 400;
    line-height: 1.66;
}

::-webkit-input-placeholder {
    color: #dedede;
}

.Mui-src-portals-mobile-components-Checkbox--src-portals-mobile-components-Checkbox-indextsx-checkedIcon {
    background-color: #0B84FF;
}
.Mui-src-portals-mobile-components-Checkbox--src-portals-mobile-components-Checkbox-indextsx-checkedIcon:before {
    top: 50%;
    left: 50%;
    width: 0.555556rem;
    height: 0.555556rem;
    content: "";
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    background-size: 100% 100%;
    background-image: url(https://cdn.web-global.fds.api.mi-img.com/mcfe--mi-account/static/static/media/check.7d21f51a.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.MuiButton-containedPrimary {
    color: #fff;
    background-color: #0B84FF;
}

#__page_loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 9999;
    text-align: center;
}
#__page_loading__img_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 29px;
    width: 29px;
    z-index: 9;
}
#__page_loading__mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,1);
}
.__page_loading__img {
    height: 29px;
    width: 29px;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: loadingRotate 1s 0s linear infinite;
    animation: loadingRotate 1s 0s linear infinite;
}
.btn-load {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.mi-toast {
    left: 50%;
    transform: translateX(-50%);
}
@keyframes loadingRotate{0%{-webkit-transform:rotate(0) scale(1);transform:rotate(0) scale(1)}50%{-webkit-transform:rotate(180deg) scale(1);transform:rotate(180deg) scale(1)}100%{-webkit-transform:rotate(360deg) scale(1);transform:rotate(360deg) scale(1)}}